---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";

const PROJECTSWEB = [
        {
                title: 'Zelaya Restaurant',
                category: 'Desarrollo Web',
                description: 'Sitio web responsive para restaurant. Incluye filtro por categorías y registro de pedidos con numero de ID único. Control de stock, precios y pedidos a través de base de datos.',
                link: 'https://restaurant-zelaya.netlify.app/',
                github: 'https://github.com/luciaperezalberca/restaurant-zelaya',
                image: '/images/gast-web-2.jpg',
                tags: [ 'React.Js', 'Firebase', 'CSS' ]
        },
        {
                title: 'Feel Good Shoes',
                category: 'Desarrollo Web',
                description: 'Ecommerce. Incluye filtro por categorías, mensajes de confirmación y Dark Mode (según la preferencia almacenada en localStorage, de no hallarse lo hará según el modo de pantalla).',
                link: 'https://feel-good-shoes.netlify.app/',
                github: 'https://github.com/luciaperezalberca/Ecommerce',
                image: '/images/shoes-web-2.jpg',
                tags: [ 'HTML', 'CSS', 'JavaScript' ]
        },
        {
                title: 'Art Gallery',
                category: 'Desarrollo Web',
                description: 'Sitio web para portfolio con formato galería de arte. Incluye animaciones, filtro por categorías, diferentes secciones y links a redes sociales. 100% responsive.',
                link: 'https://perez-alberca-portfolio.netlify.app/',
                github: 'https://github.com/luciaperezalberca/Portfolio-art-gallery',
                image: '/images/web-art-3.jpg',
                tags: [ 'HTML', 'CSS', 'SASS' ]
        },
]
---

{
        PROJECTSWEB.map(({ image, title, category , description, tags, github, link }) => (
                <article class="flex flex-col mb-10 shadow-md p-7 rounded-lg w-80">
                        <img src={image} alt={title} class="mb-8 rounded-lg"/>
                        <h3>{category}</h3>
                        <h2 class="font-bold mt-1">{title}</h2> 
                        <p class="text-sm mb-4 mt-4">{description}</p>
                        <ul class="flex gap-x-1">
                                {tags.map(tag => (
                                        <li class="text-xs font-semibold bg-gray-950/20 px-3 py-1 rounded">{tag}</li>
                                ))}
                        </ul>
                        <div class="flex mt-6 justify-end gap-3">
                                <a href={github} target="_blank">
                                        <GitHub class="size-8 hover:opacity-50 hover:scale-110"/>
                                </a>
                                <a href={link} target="_blank">
                                        <Link class="size-8 hover:opacity-50 hover:scale-110"/>
                                </a>
                        </div>
                </article>
        ))
}