---
const PROJECTSDESIGN = [
        {
                title: 'Project 1',
                description: 'Lorem ipsum dolor isteate quod? Quasi corrupti inventore totam alias.',
                link: '#',
                github: '#',
                image: 'https://via.placeholder.com/300x200',
                tags: [ 'HTML', 'CSS', 'JavaScript' ]
        },
]
---

{
        PROJECTSDESIGN.map(({ image, title, description, tags }) => (
                <article>
                        <img src={image} alt={title} />
                        <h3>{title}</h3>
                        <p>{description}</p>
                        <ul>
                                {tags.map(tag => (
                                        <li>{tag}</li>
                                ))}
                        </ul>
                </article>
        ))
}