---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";

const PROJECTSWEB = [
        {
                title: 'Zelaya Restaurant',
                category: 'Desarrollo Web',
                description: 'Sitio web responsive para restaurant. Incluye filtro por categorías y registro de pedidos con numero de ID único. Control de stock, precios y pedidos a través de base de datos.',
                link: 'https://restaurant-zelaya.netlify.app/',
                github: 'https://github.com/luciaperezalberca/restaurant-zelaya',
                image: '/images/gast-web-2.jpg',
                tags: [ 'React.Js', 'Firebase', 'CSS' ]
        },
        {
                title: 'Estudio Decoración',
                category: 'Desarrollo Web',
                description: 'Sitio Web para estudio de Diseño de Interiores. Desarrollado con foco en la estética, jerarquía visual clara y experiencia de usuario adaptable a distintos dispositivos.',
                link: 'https://estudiodecoracion.netlify.app/',
                github: 'https://github.com/luciaperezalberca/estudio-decoracion',
                image: '/images/deco-web-1.png',
                tags: [ 'Astro', 'TailwindCSS', 'DaisyUI' ]
        },
        {
                title: 'Gogo Andreu',
                category: 'Desarrollo Web',
                description: 'Landing page conmemorativa para reconocido artista. Incluye carousel con la trayectoria de todas sus obras, integración de videos de YouTube y redes sociales. 100% responsive.',
                link: 'https://gogoandreu.com/',
                github: 'https://github.com/luciaperezalberca/gogo-andreu',
                image: '/images/tablet-gogo.png',
                tags: [ 'Astro', 'TailwindCSS', 'DaisyUI' ]
        },
        {
                title: 'Feel Good Shoes',
                category: 'Desarrollo Web',
                description: 'Ecommerce. Incluye filtro por categorías, mensajes de confirmación y Dark Mode (según la preferencia almacenada en localStorage, de no hallarse lo hará según el modo de pantalla).',
                link: 'https://feel-good-shoes.netlify.app/',
                github: 'https://github.com/luciaperezalberca/Ecommerce',
                image: '/images/shoes-web-2.webp',
                tags: [ 'HTML', 'CSS', 'JavaScript' ]
        },
        {
                title: 'Veterinaria Salguero',
                category: 'Desarrollo Web',
                description: 'Landing page simple para veterinaria, con diseño adaptable a todos los dispositivos. Incluye diferentes secciones, mapa interactivo para ubicar el local y contacto directo vía Email.',
                link: 'https://veterinariasalguero.netlify.app/',
                github: 'https://github.com/luciaperezalberca/veterinaria-salguero',
                image: '/images/veterinaria-salguero.png',
                tags: [ 'Astro', 'TailwindCSS', 'DaisyUI' ]
        },
        {
                title: 'Art Gallery',
                category: 'Desarrollo Web',
                description: 'Portfolio interactivo con formato galería de arte para exhibición de obras. Incluye animaciones, filtro por categorías, diferentes secciones y links a redes sociales. Diseño 100% responsive.',
                link: 'https://portfolio-art-gallery.netlify.app/',
                github: 'https://github.com/luciaperezalberca/Portfolio-art-gallery',
                image: '/images/web-art-3.jpg',
                tags: [ 'HTML', 'CSS', 'SASS' ]
        },
]
---

{
        PROJECTSWEB.map(({ image, title, category , description, tags, github, link }) => (
                <article class="flex flex-col mt-5 shadow-lg px-7 py-4 rounded-lg w-80 border border-gray-400/30">
                        <a href={link} target="_blank" rel="noopener noreferrer">
                                <img src={image} alt={title} class="mb-8 rounded-lg"/>
                        </a>
                        <h3>{category}</h3>
                        <h2 class="font-bold mt-1">{title}</h2> 
                        <p class="text-sm mb-4 mt-4">{description}</p>
                        <ul class="flex gap-x-1">
                                {tags.map(tag => (
                                        <li class="text-xs font-semibold bg-gray-950/20 px-3 py-1 rounded">{tag}</li>
                                ))}
                        </ul>
                        <div class="flex mt-6 justify-end gap-3">
                                <a href={github} target="_blank">
                                        <GitHub class="size-8 hover:opacity-50 hover:scale-110"/>
                                </a>
                                <a href={link} target="_blank">
                                        <Link class="size-8 hover:opacity-50 hover:scale-110"/>
                                </a>
                        </div>
                </article>
        ))
}